[tool.poetry]
name = "unipressed"
version = "0.1.1"
description = "Comprehensive Python client for the Uniprot REST API"
authors = ["Michael Milton <michael.r.milton@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://multimeric.github.io/Unipressed"
repository = "https://github.com/multimeric/Unipressed"

[tool.poetry.dependencies]
python = "^3.7"
requests = "^2.28.1"
typing-extensions = "^4.3.0"

[tool.poetry.dev-dependencies]
beautifulsoup4 = "^4.11.1"
pytest = "^7.1.2"
mkdocstrings = {extras = ["python"], version = "^0.19.0"}
mkdocs = "^1.3.1"
mkdocs-material = "^8.3.9"
mkdocs-include-markdown-plugin = "^3.6.1"
pre-commit = "^2.20.0"
types-requests = "^2.28.7"
typer = "^0.6.1"
pyhumps = "^3.7.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.mypy]
disable_error_code = "misc"
show_error_codes = true
files = "unipressed/"