name: Test 

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Python Poetry Action
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: '1.5.1'

      - name: Install dependencies
        run: poetry install --with lint --with tests

      - uses: pre-commit/action@v3.0.0
        if: matrix['python-version'] != '3.7'

      - name: Test with pytest
        run: |
          poetry run pytest

      - name: Test readme notebook
        if: matrix['python-version'] != '3.7'
        run: |
          poetry install --with readme
          poetry run jupyter nbconvert --to markdown README.ipynb

      - name: Test docs build
        run: |
          poetry run mkdocs build